Create a simple bank application with the following features:

1. Deposit into an account
2. Withdraw from an account
3. Print the bank statement to the console

Acceptance criteria

Statements should have transaction in the following format:

DATE       |  AMOUNT | BALANCE
10/04/2014 |  500.00 | 1400.00
02/04/2014 | -100.00 |  900.00
01/04/2014 | 1000.00 | 1000.00
